* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}

input {
  margin-bottom: 2px;
  padding: 0.2rem;
  font-size: 1.3rem;
}

.container {
  width: 200px;
  padding: 20px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
ul {
  margin-top: 5px;
  display: flex;
  flex-direction: column;
}
li {
  margin-bottom: 2px;
  font-size: 1.3rem;
}
button {
  cursor: pointer;
  padding: 0.15rem 0.2rem;
  margin: 2px 0;
}
